<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EDocumentRegistrationV1_0PollRequestWSImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="EDocumentRegistrationV1_0PollRequestWSImplPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://z0.b2b.http.server.landregistry.gov:13007/ECDRS_StubService/EDocumentRegistrationV1_0PollRequestWebService"
                binding="basicHttpBinding" bindingConfiguration="EDocumentRegistrationV1_0PollRequestWSImplPortBinding"
                contract="EdrsPollRequestService.EDocumentRegistrationV1_0PollRequestService"
                name="EDocumentRegistrationV1_0PollRequestWSImplPort" />
        </client>
    </system.serviceModel>
</configuration>